* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

:root{
    --bg-color: #080808;
    --segundo-bg-color: #101010;
    --text-color: #ffffff;
    --main-color: #ea580c; 
}

html { 
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 60%;
    overflow-x: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menuI {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5 ease-in-out;
}
.logo:hover{transform: scale(1.1);}

span{
    background: linear-gradient(
        270deg,
        #e08905 10%,
        #ff1c14 100%
    );
    background-clip: text;
    color: transparent;
}

.navegador a{
    font-size: 2.3rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease-in-out;
    border-bottom: 3px solid transparent;
}
.navegador a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.btnnav {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: 0;
    background: linear-gradient(
        270deg,
        #e08905 10%,
        #ff1c14 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5 ease-in-out;
    text-wrap: nowrap;
}
.btnnav:hover{transform: scale(1.05);}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

/*
.contenidoHome {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-aling: right;
}
*/

.contenidoHome h1 {
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1; 
}

.contenidoHome h3 {
    margin: 1rem 0;
    font-size: 4rem;
}

.contenidoHome p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
}

.ImagenHome img{
    margin-left: 50%;
    margin-top: -15%;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.ImagenHome img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.Iconos a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.Iconos a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2 ) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color)
}

.btnG {
    display: flex;
    gap: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 3rem;
    font-size: 1.8rem;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}

.btnG a:nth-of-type(1){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btnG a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btnG a:nth-of-type(1):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.btnG a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--segundo-bg-color);
}

.sobreI img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.sobreI img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.sobreMi h2 {
    font-size: 7rem;
    text-align: left;
}

.sobreMi p{font-size: 1.8rem;}

.sobreMi .btn{
    margin: 3rem 0;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    color: black;
}

::-webkit-scrollbar{width: 20px;}

::-webkit-scrollbar-thumb{background-color: var(--main-color);}

::-webkit-scrollbar-track{background-color: var(--bg-color);}


.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}
/*
.servicios{
    background-color: var(--bg-color);
    color: black;
}

.servicios h2{color: var(--text-color);}

.serviciosC {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.cajaServicios{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.cajaServicios:hover{
    background: var(--segundo-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.informacionS{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.informacionS h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}

.informacionS p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}

.informacionS i{font-size: 8rem;}
*/

.poyectos{background-color: var(--segundo-bg-color);}

.cajaP{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
     place-items: center;
     gap: 3rem;
     row-gap: 5rem;
}

.proyectoI{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
}
.proyectoI:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
    transform: scale(1.02);
}

.P3{
    height: 315px;
}

.proyectoI img{
    max-width: 300px;
    border-radius: 2em;
    object-fit: cover;
}

.proyectoI .btn{
    margin: 3rem 0;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    color: black;
}

.proyectoI h3{font-size: 3rem;}

.proyectoI p{font-size: 1.6rem;}

/*CONTACTOS*/
.contactos{background-color: var(--bg-color);}

.contactos h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contactos form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contactos form .cajaE input,
.contactos form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.entrada2 .btn{
    margin: 3rem 0;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    color: black;
}

.footer{
    margin-top: auto;
    width: 5000px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--segundo-bg-color);
    padding: 20px 0;
}

.footer .Iconos{text-align: center;}

.footer ul{
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li{
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a{border-bottom: 3px solid var(--main-color);}

.copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

@media(max-width:1258px){
    #iconos

    .navegador{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navegador a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);

    }
    .navegador.active{
        display: block;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem;
        gap: 5rem;
    }
    .contenidoHome{
        align-items: center;
        text-align: center;
    }
    .home img{
        width: 56vw;
    }
    .sobre{
        flex-direction: column-reverse;
    }
}